@import "./../styles/variables";

.filters-container {
  background: $white-97;
  padding: $size-m / 2 $size-m;
  border-bottom: $border;
}

.filters-button-group {
  display: inline-flex;
  justify-content: flex-end;
  vertical-align: middle;
  width: 100%;

  .filter-button,
  .addon-action-button {
    flex: 1 1 auto;
    padding: .25rem .5rem;
    justify-content: center;
  }

  .filter-button {
    color: $brand-primary-gray;
  }

  .addon-action-button {
    margin-left: $size-m;
  }

  .selected-filter {
    background: $white-80 !important; // needed to override bootstrap
    box-shadow: none;
  }
}
