@import "./../styles/variables";

.filters-container {
  background: $bg-gray-90;
  display: flex;
  flex-direction: column;

  .filter-row,
  .type-filter-row {
    display: flex;
    width: 100%;

    border-bottom: $border;
    padding: $size-xs-s $size-s;
  }

  .type-filter-row {
    overflow-x: auto;
  }

  .filter-row > *:not(:last-child) {
    margin-right: $size-xs-s;
  }

  .type-filter-row > *:not(:last-child) {
    margin-right: $size-xs;
  }
}
