@import "./../styles/variables";

.table-container {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;

  &.limited-cols {
    max-width: $name-col-width;
  }

  .table {
    width: 100%;
    border: 1px solid $white-90;
    margin-bottom: 1rem;
    border-collapse: collapse;
    table-layout: fixed;

    td, th {
      padding: .3rem;
      border: 1px solid $white-90;
    }

    thead th {
      border-bottom-width: 2px;
      vertical-align: bottom;
      border-bottom: 2px solid $white-90;
    }
  }
}
