@import "./../styles/variables";

.table-container {
  flex: 1 1 auto;
  height: auto;
  overflow: auto;

  &.limited-cols {
    max-width: $name-col-width;
    height: 100%;

    .table {
      td, th {
        border-right: 0;
      }
    }
  }

  .table {
    width: 100%;
    border-right: 0;
    margin-bottom: 1rem;
    border-collapse: collapse;
    table-layout: fixed;

    td, th {
      padding: .3rem;
    }

    thead th {
      vertical-align: bottom;
      color: $white-66;
    }
  }
}
