@import "./../styles/variables";

.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &.limited-cols {
    width: 30%;
  }
}

.har-selection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
