@import "./../styles/variables";

$close-button-width: 35px;
$tab-height: 35px;

.req-detail-container {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
  background: $white-100;
  position: relative;
}

.nav-tabs {
  padding-left: $close-button-width;
}

.close-button {
  position: absolute;
  left: $size-m / 2;
  top: $size-m / 2;
  cursor: pointer;
}

.tabs-container {
  display: flex;
  width: 100%;
  padding: $size-m;
  height: calc(100% - $tab-height);
  overflow: auto;
}
