@import "./../styles/variables";

$close-button-width: 35px;
$tab-height: 35px;

.req-detail-container {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
  background: $white-100;
  border-left: $border;
  position: relative;

  .nav-tabs {
    padding-left: $close-button-width;
    border: 0;
  }

  .tab-link {
    color: $white-33;
    border: 0;
    border-bottom: 2px solid transparent;

    &:hover {
      text-decoration: none;
    }

    &.active {
      border: 0;
      color: $white-20;
      border-bottom: 2px solid $white-20;
    }
  }

  .close-button {
    position: absolute;
    left: $size-xs-s;
    top: $size-xs-s;
    cursor: pointer;
    background: transparent;
    border: 0;

    .close-icon {
      height: $size-xs-s;
      width: $size-xs-s;

      g {
        stroke: $white-33;
      }
    }

    &:hover {
      .close-icon g {
        stroke: $white-0;
      }
    }
  }

  .tabs-container {
    display: flex;
    width: 100%;
    padding: $size-m;
    height: calc(100% - #{$tab-height});
    overflow: auto;
  }
}
