@import "./../../styles/variables";

.drag-drop {
  display: flex;
  height: 100%;
  min-height: 300px;
  align-items: center;
  justify-content: center;
  border: $border-dashed;
  border-radius: 4px;
  font-size: $font-size-h4;
  margin: 1rem;
  cursor: pointer;
  color: $brand-primary-gray;

  &:hover {
    border-color: $white-75;
    color: $white-33;
  }
}
