@import "./../../styles/variables";

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-h4;
  width: 100%;
  color: $brand-primary-dark-gray;
}

.headers-container {
  width: 100%;

  .header-info {
    border-bottom: 1px solid $white-90;
    padding-bottom: $size-xs-s;
    margin-bottom: $size-xs-s;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .caret-icon {
        transform: translateY(-1px) translateX(-5px) rotate(180deg);
      }
    }
  }
}

.header-title {
  margin: 0;
  cursor: pointer;
  display: inline-block;

  .caret-icon {
    display: inline-block;
    height: $size-xs-s;
    transform: translateY(-1px) translateX(-5px) rotate(90deg);
    width: $size-xs-s;
  }

  .encode-url {
    margin-left: $size-xs-s;
    font-size: $font-size-small;
  }

  &:focus, span:focus {
    outline: none;
  }
}

.header-detail {
  padding-top: $size-xs-s;
  padding-left: $size-xs-s;

  .info-row {
    margin: 0;
    font-size: $font-size-small;
    padding-bottom: $size-xs;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .info-caption {
    font-weight: bold;
    padding-right: $size-xs-s;
  }

  .info-value {
    word-break: break-all;
  }
}
