@import "./../../styles/variables";

.no-response {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-h4;
  width: 100%;
  color: $brand-primary-dark-gray;
}

.response-content {
  font-size: $font-size-small;
  width: 100%;
  display: flex;
  flex-direction: column;

  .copy-button {
    align-self: end;
  }

  .response-body {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
  }
}
