@import './../../src/styles/variables';

.app-container {
  height: 100%;

  .network-container {
    height: auto;

    &.network-container-data-loaded {
      height: 100%;
    }
  }

  .app-info {
    margin: 1rem;
    color: $brand-primary-gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app-info-text {
      font-size: $font-size-h4;
      font-weight: normal;
    }
  }
}
