@import "./../../styles/variables";

$cell-height: 32px;

%ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}

.thead tr th {
  text-align: left;
  height: $cell-height;
}

.value-cell {
  width: 7%;
  box-sizing: border-box;
  height: $cell-height;

  &.filename {
    width: 30%;
  }

  &.domain {
    max-width: 10%;
  }

  .value-text {
    @extend %ellipsis;
    display: inline-block;
    width: 100%;
  }
}

.timeline-header {
  width: 25%;
}

tbody {
  .network-table-row {
    cursor: pointer;

    &:nth-of-type(odd) {
      background-color: $white-97;
    }

    &.pending {
      color: $white-66;
    }

    &.error {
      color: $brand-danger;
    }

    &:hover {
      background: $white-90;
    }

    &.highlight {
      background: $dark-gray;
      color: $white-100;
    }
  }
}

.tooltip {
  display: block;
  width: auto;
  max-width: 300px;
  height: auto;
  background: $white-100;
  border: 1px solid $white-90;
  border-radius: 3px;
  color: $white-20;
  font-size: $font-size-small;
  padding: $size-xs-s;
  opacity: 1;
  word-break: break-all;
}

.url-tooltip {
  @extend .tooltip;
  background: $white-0;
  color: $white-100;
}
