@import "./../../styles/variables";

$cell-height: 32px;

.network-table-header {
  display: flex;
  padding: $size-s $size-xs-s;
  font-size: $font-size-small;
  font-weight: 700;

  .cell {
    text-transform: uppercase;
    color: $brand-primary-gray;


    &.filename {
      width: 30%;
    }

    &.domain {
      max-width: 10%;
    }

    &.waterfall {
      width: 25%;
    }
  }
}

%ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}

.thead tr th {
  text-align: left;
  height: $cell-height;
}

.value-cell {
  width: 7%;
  box-sizing: border-box;
  height: $cell-height;

  &.filename {
    width: 30%;
  }

  &.domain {
    max-width: 10%;
  }

  .value-text {
    @extend %ellipsis;
    display: inline-block;
    width: 100%;
  }
}

//.timeline-header {
//  width: 25%;
//}

//tbody {
//  .network-table-row {
//    cursor: pointer;
//
//    &:nth-of-type(odd) {
//      background-color: $white-97;
//    }
//
//    &.pending {
//      color: $white-66;
//    }
//
//    &.error {
//      color: $brand-danger;
//    }
//
//    &:hover {
//      background: $white-90;
//    }
//
//    &.highlight {
//      background: $dark-gray;
//      color: $white-100;
//    }
//  }
//}
