@import "./../../styles/variables.scss";

.footer {
  border-top: $border;
  width: 100%;
  background: $bg-gray-90;
  padding: $size-xs-s $size-s;
  display: inline-flex;
  vertical-align: middle;

  span {
    flex: 1 1 auto;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    border-right: 1px solid $white-80;
    padding: 0 $size-xs;
    overflow: hidden;

    &:last-child {
      border-right: none;
    }
  }
}
