@import "./../../styles/variables.scss";

.footer {
  border-top: $border;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $white-97;
  padding: $size-xs * 2;
  display: inline-flex;
  vertical-align: middle;

  span {
    flex: 1 1 auto;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    border-right: 1px solid $white-80;

    &:last-child {
      border-right: none;
    }
  }
}
