@import "./../../styles/variables.scss";

.network-table-header {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 8 / span 8;

  padding: $size-s $size-xs-s;
  font-size: $font-size-small;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: $border;
  color: $brand-primary-gray;
  align-content: center;
}

.network-table-body {
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-columns: subgrid;
  grid-column: span 8 / span 8;
}

.network-table-row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 8 / span 8;
  cursor: pointer;
  padding: $size-xs $size-xs-s;
  border-bottom: $border;
  color: $brand-primary-dark-gray;

  &:nth-last-child(2) {
    border-bottom: none;
  }

  &.pending {
    color: $white-66;
  }

  &.error {
    color: $brand-danger;
  }

  &:hover {
    background: $white-90;
  }

  &.highlight {
    background: $dark-gray;
    color: $white-100;
  }
}

.value-cell {
  align-self: center;

  display: grid;
  grid-template-columns: subgrid;

  .value-text {
    flex: 1 1 auto;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
  }
}

.footer {
  border-top: $border;
  width: 100%;
  background: $bg-gray-90;
  padding: $size-xs-s $size-s;
  display: inline-flex;
  vertical-align: middle;

  span {
    flex: 1 1 auto;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    border-right: 1px solid $white-80;
    padding: 0 $size-xs;
    overflow: hidden;

    &:last-child {
      border-right: none;
    }
  }
}
