.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;

  .title {
    color: red;
    font-weight: 300;
  }
}
