@import "./../../styles/variables.scss";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $size-xs $size-xs-s;

  font-size: $font-size-h5;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  border: $border;
  border-radius: $border-radius-base;
  background: $white-100;
  color: $brand-primary-gray;
  outline: none;

  &:hover {
    background: $bg-blue-50;
  }

  &[disabled] {
    cursor: not-allowed;
    color: $gray-lighter;
    border-color: $gray-lighter;

    svg {
      fill: $gray-lighter;
    }

    &:hover {
      border-color: darken($gray-lighter, 10%);
    }
  }

  svg {
    fill: $brand-primary-dark-gray;
  }

  &.text-variant {
    border: none;
    background: transparent;

    &:hover {
      background: $bg-blue-50;
    }

    &.active {
      color: $white-100;
      background: $brand-blue;
    }
  }
}
