@import "./../../styles/variables.scss";

.checkbox-container {
  padding: 2px 0 0 ($size-xs * 6);
  text-align: right;
  min-width: 110px;

  .checkbox-label {
    font-style: normal;
    font-weight: normal;
    color: $brand-primary-gray;
    cursor: pointer;
    text-transform: none;
    margin: 0;
  }

  .checkbox {
    margin-right: $size-xs;
    cursor: pointer;
  }
}
