@import "./../../styles/variables.scss";

.dropdown-container {
  position: relative;

  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    width: 7.5rem;

    font-weight: 500;
    font-size: $font-size-h5;
    color: $brand-primary-dark-gray;

    &:hover,
    &.active {
      background: $white-100;
    }

    &.active {
      border-radius: $border-radius-base $border-radius-base 0 0;
    }

    .icn {
      height: $size-s;
      width: $size-s;
      pointer-events: none;
    }
  }

  .list {
    position: absolute;
    z-index: 1000;
    float: left;
    top: 0px;
    left: 1px;
    margin: .125rem 0 0;
    padding: 0;
    border: $border;
    border-radius: 0 0 $size-xs $size-xs;
    width: 7.5rem;

    will-change: transform;
    transform: translate3d(-1px, 23px, 0px);

    text-align: left;
    list-style: none;
    background-color: $white-100;
    background-clip: padding-box;
  }

  .list-item {
    display: block;
    width: 100%;
    padding: 0;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    background: transparent;
    border: 0;

    font-weight: 500;
    font-size: $font-size-h5;
    color: $brand-primary-dark-gray;

    &.active {
      background: $bg-blue-50;
      color: $brand-primary-dark-gray;
    }

    &:not(.active):hover {
      background: #f7f8fa;
    }
  }

  .item-text {
    display: block;
    cursor: pointer;
    padding: .25rem 1.5rem;
  }
}
