@import "./../../styles/variables.scss";

.dropdown-container {
  position: relative;

  .dropdown-toggle {
    border: $border;
    text-transform: uppercase;

    &.active {
      border-color: transparent;
    }

    &::after {
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      box-sizing: border-box;
    }
  }

  .list {
    z-index: 1000;
    float: left;
    min-width: 10rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: $white-100;
    background-clip: padding-box;
    border: $border;
    border-radius: .25rem;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-1px, 23px, 0px);
    list-style: none;
    padding: 0;
  }

  .list-item {
    padding: 0;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background: transparent;
    border: 0;

    &.active {
      background: $brand-primary-gray;
      color: $white-100;
    }
  }

  .item-text {
    display: block;
    cursor: pointer;
    padding: .25rem 1.5rem;
    text-transform: uppercase;
  }
}
