@import "./../../styles/variables.scss";

.nav-tabs {
  border-bottom: 1px solid $white-90;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.tab-item {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  margin-bottom: -1px;
  display: block;
  padding: .5rem 1rem;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.tab-item:focus, .tab-item:active {
  outline: none;
}

.tab-item.active {
  color: $white-39;
  background-color: $white-100;
  border-color: $white-90 $white-90 $white-100;
}
