@import './../../styles/variables';

.search-input {
    border: $border;
    border-radius: $border-radius-base;
    padding: $size-xs $size-xs-s;
    width: 35%;
    min-width: 10rem;
    height: $filter-button-height;
    color: $brand-primary-dark-gray;
    background-color: $white-100;
    font-size: $font-size-h5;

    &:focus {
        outline: 1px solid transparent;
        background-color: $white-100;
        border: $border;
    }
}
