@import './../../styles/variables';

.search-container {
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  .prepend-dropdown {
    display: flex;
    margin-right: -1px;
  }

  input {
    border-radius: .2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: $filter-button-height;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    color: $white-39;
    background-color: $white-100;
    background-clip: padding-box;
    border: $border;
  }
}

