@import "./../../../styles/variables.scss";

.tooltip-label {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  .tooltip-label-box {
    max-width: 300px;
    max-height: 700px;
    position: relative;
    display: inline-block;
    background-color: $brand-primary-dark-gray;
    color: $white-100;
    padding: $size-xs $size-xs-s;
    border: $border;
    border-radius: $border-radius-base;
    word-break: break-all;
  }
}

.tooltip-visible {
  opacity: 1;
}

.tooltip-arrow {
  position: absolute;
  background-color: $brand-primary-dark-gray;
  rotate: -45deg;
  border: 2px solid $brand-primary-dark-gray;
}

.tooltip-arrow-position {
  &-left {
    translate: .125rem;
    right: 100%;
  }

  &-right {
    translate: -.125rem;
    left: 100%;
  }

  &-bottom {
    translate: 0 -.125rem;
    top: 100%;
  }

  &-top {
    translate: 0 .125rem;
    bottom: 100%;
  }
}
