@import './../../../src/styles/variables';

.footer {
  padding: 1rem;
  background-color: $white-97;
  border-top: 1px solid $white-80;
  text-align: center;

  .link {
    margin-left: $size-xs;
    text-decoration: none;
  }
}
