.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.tab-item {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  margin-bottom: -1px;
  display: block;
  padding: .5rem 1rem;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.tab-item:focus, .tab-item:active {
  outline: none;
}

.tab-item.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
